body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: #fff;
	color: #212327;
	padding: 0px;
	margin: 0px;
}

.flexbox {
	display: flex;
}

#chartdiv {
	flex: 1;
	height: 100vh;
	float: left;
}

#list {
	padding: 0.5em;
	flex: 0 0 500px;
	height: 100vh;
	float: left;
	border-left: 1px solid #eee;
	box-sizing: border-box;
	overflow: auto;
}

table.dataTable tbody tr {
	background-color: inherit;
}

td.value {
	text-align: right;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
	border-top: 1px solid #eee;
}

table.dataTable.order-column tbody tr>.sorting_1, table.dataTable.order-column tbody tr>.sorting_2, table.dataTable.order-column tbody tr>.sorting_3, table.dataTable.display tbody tr>.sorting_1, table.dataTable.display tbody tr>.sorting_2, table.dataTable.display tbody tr>.sorting_3 {
	background-color: #eee;
}